      /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
      .row.content {
        height: 550px
      }

      /* Set gray background color and 100% height */
      .sidenav {
        background-color: #f1f1f1;
        height: 100%;
      }

      /* On small screens, set height to 'auto' for the grid */
      @media screen and (max-width: 767px) {
        .row.content {
          height: auto;
        }
      }

      .footer {
        background-color: antiquewhite;
      }

      a {
        background-color: beige;
      }

      .dropdown-menu {
        text-align: center;
      }

      /* Theme Switcher */
      /* styles.css */
      .theme-switcher {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        transition: background-color 0.3s ease-in-out;
      }

      .light {
        background-color: white;
        color: black;
      }

      .dark {
        background-color: black;
        color: white;
      }

    